Repository iroiro/iroiro, pull requests merged in 2020-12, with the labels that each got.

#79 Update chainlink request and external adapter
  adapters/audius-followers/.env.example
  adapters/audius-followers/src/index.ts
  adapters/audius-followers/yarn.lock
  contract/contracts/distributors/AudiusFollowers/AudiusFollowers.sol
  contract/test/distributors/AudiusFollowers/AudiusFollowersCampaign_test.js
Labels: bug, contract, external-adapters

#77 Update migrations
  contract/migrations/2_mycontract_migration.js
  contract/migrations/3_audius_followers_migration.js
  subgraph/src/distributor.ts
  subgraph/subgraph.yaml
Labels: contract

#80 Mouse/hotfix/adapter
  adapters/audius-followers/.env.example
  adapters/audius-followers/src/index.ts
  contract/contracts/NewInterfaces.sol
  contract/contracts/distributors/AudiusFollowers/AudiusFollowers.sol
  contract/test/NewCampaignInterface.test.js
  contract/test/distributors/AudiusFollowers/AudiusFollowersCampaign_test.js
Labels: bug, contract, external-adapters

#81 Fix typo
  adapters/audius-followers/src/index.ts
Labels: bug, external-adapters

#82 Update distributor address for subgraph
  subgraph/subgraph.yaml
Labels: subgraph

#84 Mouse/storybookstyles
  frontend/packages/react-app/.storybook/preview.js
  frontend/packages/react-app/.storybook/preview.jsx
  frontend/packages/react-app/src/components/atoms/AddNewToken/index.stories.tsx
  frontend/packages/react-app/src/index.tsx
  frontend/packages/react-app/src/stories/Button.stories.tsx
  frontend/packages/react-app/src/stories/Button.tsx
  frontend/packages/react-app/src/stories/Header.stories.tsx
  frontend/packages/react-app/src/stories/Header.tsx
  frontend/packages/react-app/src/stories/Introduction.stories.mdx
  frontend/packages/react-app/src/stories/Page.stories.tsx
  frontend/packages/react-app/src/stories/Page.tsx
  frontend/packages/react-app/src/stories/assets/code-brackets.svg
  frontend/packages/react-app/src/stories/assets/colors.svg
  frontend/packages/react-app/src/stories/assets/comments.svg
  frontend/packages/react-app/src/stories/assets/direction.svg
  frontend/packages/react-app/src/stories/assets/flow.svg
  frontend/packages/react-app/src/stories/assets/plugin.svg
  frontend/packages/react-app/src/stories/assets/repo.svg
  frontend/packages/react-app/src/stories/assets/stackalt.svg
  frontend/packages/react-app/src/stories/button.css
  frontend/packages/react-app/src/stories/header.css
  frontend/packages/react-app/src/stories/page.css
  frontend/packages/react-app/src/theme/rinble-ui-theme.js
Labels: frontend

#85 Implement ExternalTokenDetailPage
  frontend/packages/contracts/src/addresses.js
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/atoms/Container/index.tsx
  frontend/packages/react-app/src/components/atoms/LinkButton/index.stories.tsx
  frontend/packages/react-app/src/components/atoms/LinkButton/index.tsx
  frontend/packages/react-app/src/components/molecules/AppHeader/index.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/index.tsx
  frontend/packages/react-app/src/components/pages/ExternalTokenDetailPage.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/graphql/subgraph.js
  frontend/packages/react-app/src/index.tsx
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/reducers/campaign.ts
  frontend/packages/react-app/src/reducers/token.ts
  frontend/packages/react-app/src/reducers/tokens.ts
Labels: frontend

#89 Mouse/adddistributorcid
  subgraph/schema.graphql
  subgraph/src/distributor.ts
Labels: bug, subgraph

#90 Add SelectDistributorPage
  frontend/packages/react-app/src/components/molecules/DistributorListItem/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/DistributorListItem/index.tsx
  frontend/packages/react-app/src/components/organisms/DistributorList/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/DistributorList/index.tsx
  frontend/packages/react-app/src/components/pages/SelectDistributorsPage.tsx
  frontend/packages/react-app/src/components/templates/SelectDistributorsPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/SelectDistributorsPageTemplate/index.tsx
  frontend/packages/react-app/src/graphql/subgraph.js
  frontend/packages/react-app/src/interfaces.ts
Labels: frontend

#91 Add fan templates
  frontend/.gitignore
  frontend/packages/react-app/.prettierignore
  frontend/packages/react-app/.prettierrc.json
  frontend/packages/react-app/.storybook/preview.jsx
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/atoms/CampaignStatusChip/index.stories.tsx
  frontend/packages/react-app/src/components/atoms/CampaignStatusChip/index.tsx
  frontend/packages/react-app/src/components/atoms/EtherscanLink/index.stories.tsx
  frontend/packages/react-app/src/components/atoms/EtherscanLink/index.tsx
  frontend/packages/react-app/src/components/molecules/BalanceHistoryChart/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/BalanceHistoryChart/index.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenCampaignCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenCampaignCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/molecules/UserActivityCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/UserActivityCard/index.tsx
  frontend/packages/react-app/src/components/organisms/.gitkeep
  frontend/packages/react-app/src/components/organisms/BasicTokenInformation/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/BasicTokenInformation/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationBar/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationBar/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationTabs/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationTabs/index.tsx
  frontend/packages/react-app/src/components/organisms/UserActivities/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/UserActivities/index.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.tsx
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/theme/mui-theme.js
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/yarn.lock
Labels: frontend

#93 Mouse/eslint
  .husky/pre-commit
  frontend/package.json
  frontend/packages/react-app/.eslintrc.json
  frontend/packages/react-app/package-lock.json
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/atoms/AddNewToken/index.tsx
  frontend/packages/react-app/src/components/atoms/CampaignStatusChip/index.tsx
  frontend/packages/react-app/src/components/atoms/Container/index.tsx
  frontend/packages/react-app/src/components/atoms/EtherscanLink/index.tsx
  frontend/packages/react-app/src/components/atoms/LinkButton/index.tsx
  frontend/packages/react-app/src/components/atoms/LogoButton/index.stories.tsx
  frontend/packages/react-app/src/components/atoms/LogoButton/index.tsx
  frontend/packages/react-app/src/components/molecules/AddressFormInput/index.tsx
  frontend/packages/react-app/src/components/molecules/AppHeader/index.tsx
  frontend/packages/react-app/src/components/molecules/BalanceHistoryChart/index.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.tsx
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.tsx
  frontend/packages/react-app/src/components/molecules/DistributorListItem/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/DistributorListItem/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenCampaignCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenListItem/index.tsx
  frontend/packages/react-app/src/components/molecules/TopBody/index.tsx
  frontend/packages/react-app/src/components/organisms/BasicTokenInformation/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/index.tsx
  frontend/packages/react-app/src/components/organisms/DistributorList/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/DistributorList/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationBar/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationTabs/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenList/index.tsx
  frontend/packages/react-app/src/components/organisms/UserActivities/index.tsx
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/ExternalTokenDetailPage.tsx
  frontend/packages/react-app/src/components/pages/SelectDistributorsPage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignsPage.tsx
  frontend/packages/react-app/src/components/pages/TokenHistoryPage.tsx
  frontend/packages/react-app/src/components/pages/TopPage.tsx
  frontend/packages/react-app/src/components/templates/DashboardPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/SelectDistributorsPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/TopPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TopPageTemplate/index.tsx
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/reducers/campaign.ts
  frontend/packages/react-app/src/reducers/token.ts
  frontend/packages/react-app/src/reducers/tokens.ts
  frontend/packages/react-app/src/theme/mui-theme.js
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/yarn.lock
Labels: frontend

#94 Introduce ethers typechain
  README.md
  adapters/audius-followers/src/index.ts
  contract/package.json
  frontend/packages/react-app/src/utils/getTokenInfo.ts
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: frontend

#95 Fix different eslint version is installed
  frontend/packages/react-app/package.json
  frontend/yarn.lock
Labels: bug, frontend

#92 Make template of create campaign and campaign detail
  frontend/packages/react-app/src/components/molecules/AddressFormInput/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/DepositTokenForm/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/DepositTokenForm/index.tsx
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.tsx
  frontend/packages/react-app/src/components/molecules/DistributorListItem/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/Item/index.tsx
  frontend/packages/react-app/src/components/molecules/SetupCampaignForm/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/SetupCampaignForm/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenBalance/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenBalance/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignDetail/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/CampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/DepositToken/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/DepositToken/index.tsx
  frontend/packages/react-app/src/components/organisms/DistributionTargets/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/DistributionTargets/index.tsx
  frontend/packages/react-app/src/components/organisms/DistributorList/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/SetTokenModal/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/SetupCampaign/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/SetupCampaign/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenList/index.stories.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemaplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateCampaignPageTemaplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/CreateCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/DashboardPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/SelectDistributorsPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: frontend

#96 Mouse/hotfixtypechain
  contract/package.json
  frontend/packages/react-app/.gitignore
  frontend/packages/react-app/src/utils/getTokenInfo.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: bug, frontend

#97 Mouse/implementfanpages
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenCampaignCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationBar/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationTabs/index.tsx
  frontend/packages/react-app/src/components/pages/DashboardPage.tsx
  frontend/packages/react-app/src/components/pages/ExplorePage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignsPage.tsx
  frontend/packages/react-app/src/components/pages/TokenInformationPage.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.tsx
  frontend/packages/react-app/src/index.tsx
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/reducers/tokenInformation.ts
  frontend/packages/react-app/src/reducers/tokens.ts
  frontend/packages/react-app/src/utils/getTokenInfo.ts
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/packages/react-app/src/utils/web3.ts
Labels: frontend

#98 Fix account returns null and typo
  subgraph/schema.graphql
  subgraph/src/campaign.ts
Labels: bug, subgraph

#99 Fix invalid subgraph's campaign claim amount
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/utils/mockData.ts
  subgraph/schema.graphql
  subgraph/src/distributor.ts
Labels: bug, subgraph

#100 Fix claim entity does save token address
  subgraph/src/campaign.ts
Labels: bug, subgraph

#104 Enhance EA for lambda
  adapters/audius-followers/.env.example
  adapters/audius-followers/.gitignore
  adapters/audius-followers/Dockerfile
  adapters/audius-followers/README.md
  adapters/audius-followers/docker-compose.yml
  adapters/audius-followers/env.json.example
  adapters/audius-followers/events/event.json
  adapters/audius-followers/nodemon.json
  adapters/audius-followers/package.json
  adapters/audius-followers/samconfig.toml
  adapters/audius-followers/src/.npmignore
  adapters/audius-followers/src/build/contracts/AudiusFollowersCampaign.json
  adapters/audius-followers/src/build/contracts/AudiusFollowersDistributor.json
  adapters/audius-followers/src/index.js
  adapters/audius-followers/src/index.ts
  adapters/audius-followers/src/package.json
  adapters/audius-followers/src/tests/unit/test-handler.js
  adapters/audius-followers/src/yarn.lock
  adapters/audius-followers/template.yaml
  adapters/audius-followers/tsconfig.json
Labels: external-adapters

#105 Update campaign address
  subgraph/subgraph.yaml
Labels: subgraph

#107 Mouse/pinningfunction
  .gitignore
  functions/cct-wallet-ea/.gitignore
  functions/cct-wallet-ea/README.md
  functions/cct-wallet-ea/env.json.example
  functions/cct-wallet-ea/events/event.json
  functions/cct-wallet-ea/samconfig.toml
  functions/cct-wallet-ea/src/.npmignore
  functions/cct-wallet-ea/src/build/contracts/CCTWalletCampaign.json
  functions/cct-wallet-ea/src/build/contracts/CCTWalletDistributor.json
  functions/cct-wallet-ea/src/index.js
  functions/cct-wallet-ea/src/package.json
  functions/cct-wallet-ea/src/tests/unit/test-handler.js
  functions/cct-wallet-ea/src/yarn.lock
  functions/cct-wallet-ea/template.yaml
  functions/ipfs-pinning/Makefile
  functions/ipfs-pinning/README.md
  functions/ipfs-pinning/api/go.mod
  functions/ipfs-pinning/api/go.sum
  functions/ipfs-pinning/api/main.go
  functions/ipfs-pinning/api/main_test.go
  functions/ipfs-pinning/env.json.example
  functions/ipfs-pinning/samconfig.toml
  functions/ipfs-pinning/template.yaml
Labels: functions

#101 Implement fan pages
  README.md
  frontend/packages/react-app/src/components/molecules/BalanceHistoryChart/index.tsx
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.tsx
  frontend/packages/react-app/src/components/molecules/DepositTokenForm/index.tsx
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.tsx
  frontend/packages/react-app/src/components/molecules/Item/index.tsx
  frontend/packages/react-app/src/components/molecules/SetupCampaignForm/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenBalance/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/molecules/UserActivityCard/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/DepositToken/index.tsx
  frontend/packages/react-app/src/components/organisms/DistributionTargets/index.tsx
  frontend/packages/react-app/src/components/organisms/SetTokenModal/index.tsx
  frontend/packages/react-app/src/components/organisms/SetupCampaign/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationTabs/index.tsx
  frontend/packages/react-app/src/components/organisms/UserActivities/index.tsx
  frontend/packages/react-app/src/components/organisms/UserHistory/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/UserHistory/index.tsx
  frontend/packages/react-app/src/components/pages/TokenInformationPage.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.tsx
  frontend/packages/react-app/src/graphql/subgraph.js
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useClaim.ts
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useRequestCheckingIsClaimable.ts
  frontend/packages/react-app/src/hooks/useApproveToken.ts
  frontend/packages/react-app/src/hooks/useGetAllowance.ts
  frontend/packages/react-app/src/hooks/useGetTransferEvents.ts
  frontend/packages/react-app/src/hooks/useGetWalletBalance.ts
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/reducers/tokenInformation.ts
  frontend/packages/react-app/src/utils/const.ts
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/packages/react-app/src/utils/web3.ts
  frontend/yarn.lock
Labels: frontend

#111 Fix " JavaScript heap out of memory"
  frontend/.node-version
Labels: bug, frontend

#113 Mouse/hotfixdeployerrors
  .gitignore
  frontend/packages/react-app/.gitignore
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/types/Audius.d.ts
  frontend/packages/react-app/src/types/AudiusFollowersCampaign.d.ts
  frontend/packages/react-app/src/types/AudiusFollowersDistributor.d.ts
  frontend/packages/react-app/src/types/AudiusInterface.d.ts
  frontend/packages/react-app/src/types/CCTWalletCampaign.d.ts
  frontend/packages/react-app/src/types/CCTWalletDistributor.d.ts
  frontend/packages/react-app/src/types/CampaignInterface.d.ts
  frontend/packages/react-app/src/types/ChainlinkClient.d.ts
  frontend/packages/react-app/src/types/ChainlinkRequestInterface.d.ts
  frontend/packages/react-app/src/types/DistributorInterface.d.ts
  frontend/packages/react-app/src/types/DonatorInterface.d.ts
  frontend/packages/react-app/src/types/ENSInterface.d.ts
  frontend/packages/react-app/src/types/ENSResolver.d.ts
  frontend/packages/react-app/src/types/ERC20.d.ts
  frontend/packages/react-app/src/types/ERC20Mock.d.ts
  frontend/packages/react-app/src/types/FanToken.d.ts
  frontend/packages/react-app/src/types/IERC20.d.ts
  frontend/packages/react-app/src/types/LinkTokenInterface.d.ts
  frontend/packages/react-app/src/types/Migrations.d.ts
  frontend/packages/react-app/src/types/NewDonator.d.ts
  frontend/packages/react-app/src/types/Ownable.d.ts
  frontend/packages/react-app/src/types/PointerInterface.d.ts
  frontend/packages/react-app/src/types/PoolInterface.d.ts
  frontend/packages/react-app/src/types/StakingPool.d.ts
  frontend/packages/react-app/src/types/TokenFactory.d.ts
  frontend/packages/react-app/src/types/TokenFactoryInterface.d.ts
  frontend/packages/react-app/src/types/Vesting.d.ts
  frontend/packages/react-app/src/types/VestingInterface.d.ts
  frontend/packages/react-app/src/types/factories/AudiusFollowersCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/AudiusFollowersDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/AudiusInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Audius__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ChainlinkClient__factory.ts
  frontend/packages/react-app/src/types/factories/ChainlinkRequestInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ENSInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ENSResolver__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20__factory.ts
  frontend/packages/react-app/src/types/factories/FanToken__factory.ts
  frontend/packages/react-app/src/types/factories/IERC20__factory.ts
  frontend/packages/react-app/src/types/factories/LinkTokenInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/NewDonator__factory.ts
  frontend/packages/react-app/src/types/factories/Ownable__factory.ts
  frontend/packages/react-app/src/types/factories/PointerInterface__factory.ts
  frontend/packages/react-app/src/types/factories/PoolInterface__factory.ts
  frontend/packages/react-app/src/types/factories/StakingPool__factory.ts
  frontend/packages/react-app/src/types/factories/TokenFactoryInterface__factory.ts
  frontend/packages/react-app/src/types/factories/TokenFactory__factory.ts
  frontend/packages/react-app/src/types/factories/VestingInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Vesting__factory.ts
  frontend/packages/react-app/src/types/index.ts
Labels: bug, frontend

#115 Add CampaignDetailPage
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignDetail/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/CampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenList/index.tsx
  frontend/packages/react-app/src/components/pages/AudiusDisributionPage.jsx
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/ExternalTokenDetailPage.tsx
  frontend/packages/react-app/src/components/pages/TokenInformationPage.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/graphql/subgraph.js
  frontend/packages/react-app/src/hooks/useGetTransferEvents.ts
  frontend/packages/react-app/src/hooks/useGetWalletBalance.ts
  frontend/packages/react-app/src/reducers/campaign.ts
  frontend/packages/react-app/src/reducers/campaigns.ts
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/types/factories/AudiusFollowersCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/AudiusFollowersDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/Audius__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/FanToken__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/NewDonator__factory.ts
  frontend/packages/react-app/src/types/factories/StakingPool__factory.ts
  frontend/packages/react-app/src/types/factories/TokenFactory__factory.ts
  frontend/packages/react-app/src/types/factories/Vesting__factory.ts
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/packages/react-app/src/utils/web3.ts
  frontend/yarn.lock
Labels: frontend

#116 Fix audius errors
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/yarn.lock
Labels: bug, frontend

#109 Mouse/pinningfunction
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useClaim.ts
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useRequestCheckingIsClaimable.ts
  functions/ipfs-pinning/api/main.go
  functions/ipfs-pinning/events/event.json
  functions/ipfs-pinning/template.yaml
Labels: bug, functions

#117 Update job id
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.tsx
  frontend/packages/react-app/src/utils/const.ts
Labels: frontend

#118 Update UI
  frontend/packages/react-app/src/components/atoms/EtherscanLink/index.tsx
  frontend/packages/react-app/src/components/molecules/BalanceHistoryChart/index.tsx
  frontend/packages/react-app/src/components/molecules/CheckRequestCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenCampaignCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/molecules/UserActivityCard/index.tsx
  frontend/packages/react-app/src/components/organisms/BasicTokenInformation/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationBar/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationTabs/index.tsx
  frontend/packages/react-app/src/components/organisms/UserActivities/index.tsx
  frontend/packages/react-app/src/components/organisms/UserHistory/index.tsx
  frontend/packages/react-app/src/components/pages/TokenInformationPage.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.tsx
  frontend/packages/react-app/src/theme/mui-theme.js
  frontend/packages/react-app/src/utils/mockData.ts
Labels: frontend

#119 Mouse/frontendaudius
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.tsx
  frontend/packages/react-app/src/components/molecules/SigninAudius/index.tsx
  frontend/packages/react-app/src/components/organisms/DistributionTargets/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/DistributionTargets/index.tsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/components/templates/CreateCampaignPageTemaplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/CreateCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useRequestCheckingIsClaimable.ts
  frontend/packages/react-app/src/reducers/audius.ts
  frontend/packages/react-app/src/types/factories/AudiusFollowersCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/AudiusFollowersDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/Audius__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/FanToken__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/NewDonator__factory.ts
  frontend/packages/react-app/src/types/factories/StakingPool__factory.ts
  frontend/packages/react-app/src/types/factories/TokenFactory__factory.ts
  frontend/packages/react-app/src/types/factories/Vesting__factory.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: bug, frontend

#120 Update Audius followers logic
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.tsx
  frontend/packages/react-app/src/components/molecules/SignOutAudius.jsx
  frontend/packages/react-app/src/components/molecules/SignOutAudius/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/SignOutAudius/index.tsx
  frontend/packages/react-app/src/components/molecules/SigninAudius/index.tsx
  frontend/packages/react-app/src/components/organisms/DistributionTargets/index.tsx
  frontend/packages/react-app/src/components/pages/AudiusDisributionPage.jsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/components/templates/CreateCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/reducers/audius.ts
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/yarn.lock
Labels: frontend

#122 Mouse/pinningapi
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/utils/const.ts
  frontend/yarn.lock
  functions/ipfs-pinning/api/main.go
  functions/ipfs-pinning/env.json.example
  functions/ipfs-pinning/template.yaml
Labels: frontend, functions

#121 Mouse/updateinterfaces
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/atoms/TokenAmount/index.stories.tsx
  frontend/packages/react-app/src/components/atoms/TokenAmount/index.tsx
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.tsx
  frontend/packages/react-app/src/components/molecules/SigninAudius/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenRequestCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenRequestCard/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationTabs/index.tsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/TokenInformationPage.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.tsx
  frontend/packages/react-app/src/hooks/audius/useAudiusLibs.ts
  frontend/packages/react-app/src/hooks/audius/useGetAudiusFollowers.ts
  frontend/packages/react-app/src/hooks/audius/useGetAudiusUser.ts
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useClaim.ts
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useFetchIsClaimable.ts
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useIsClaimable.ts
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useRequestCheckingIsClaimable.ts
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/reducers/audius.ts
  frontend/packages/react-app/src/reducers/tokenInformation.ts
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/yarn.lock
  functions/cct-wallet-ea/src/index.js
Labels: bug, external-adapters, frontend

#123 Fix warnings
  frontend/packages/react-app/src/components/atoms/Container/index.tsx
  frontend/packages/react-app/src/components/molecules/AddressFormInput/index.tsx
  frontend/packages/react-app/src/components/molecules/ApproveTokenForm/index.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.tsx
  frontend/packages/react-app/src/components/molecules/SetupCampaignForm/index.tsx
  frontend/packages/react-app/src/components/molecules/SigninAudius/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenRequestCard/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/pages/AudiusDisributionPage.jsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/DashboardPage.tsx
  frontend/packages/react-app/src/components/pages/ExplorePage.tsx
  frontend/packages/react-app/src/components/pages/ExternalTokenDetailPage.tsx
  frontend/packages/react-app/src/components/pages/SelectDistributorsPage.tsx
  frontend/packages/react-app/src/components/pages/TokenHistoryPage.tsx
  frontend/packages/react-app/src/components/pages/TokenInformationPage.tsx
  frontend/packages/react-app/src/components/pages/TopPage.tsx
  frontend/packages/react-app/src/components/templates/DashboardPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/SelectDistributorsPageTemplate/index.tsx
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useClaim.ts
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useFetchIsClaimable.ts
  frontend/packages/react-app/src/hooks/distributors/audius-followers/useRequestCheckingIsClaimable.ts
  frontend/packages/react-app/src/reducers/campaigns.ts
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/reducers/tokens.ts
Labels: frontend

#125 Update dependencies
  frontend/packages/react-app/package-lock.json
  frontend/yarn.lock
Labels: frontend

#127 Add redirects file for netlify
  frontend/packages/react-app/public/_redirects
Labels: bug, frontend
