Repository iroiro/iroiro, pull requests merged in 2020-10, with the labels that each got.

#1 Contract interfaces
  contract/.gitignore
  contract/.openzeppelin/project.json
  contract/contracts/contracts.sol
  contract/networks.js
  docs/contracts.puml
Labels: contract

#3 Update variable name
  contract/contracts/contracts.sol
  docs/contracts.puml
Labels: contract

#4 Create with create-eth-app
  frontend/README.md
  frontend/package.json
  frontend/packages/contracts/README.md
  frontend/packages/contracts/package.json
  frontend/packages/contracts/src/abis.js
  frontend/packages/contracts/src/abis/erc20.json
  frontend/packages/contracts/src/abis/ownable.json
  frontend/packages/contracts/src/addresses.js
  frontend/packages/contracts/src/index.js
  frontend/packages/react-app/README.md
  frontend/packages/react-app/package.json
  frontend/packages/react-app/public/favicon.ico
  frontend/packages/react-app/public/index.html
  frontend/packages/react-app/public/logo192.png
  frontend/packages/react-app/public/logo512.png
  frontend/packages/react-app/public/manifest.json
  frontend/packages/react-app/public/robots.txt
  frontend/packages/react-app/scripts/ipfs.js
  frontend/packages/react-app/src/App.js
  frontend/packages/react-app/src/App.test.js
  frontend/packages/react-app/src/components/index.js
  frontend/packages/react-app/src/ethereumLogo.png
  frontend/packages/react-app/src/graphql/subgraph.js
  frontend/packages/react-app/src/index.css
  frontend/packages/react-app/src/index.js
  frontend/packages/react-app/src/setupTests.js
  frontend/packages/react-app/src/utils/web3Modal.js
  frontend/packages/subgraph/README.md
  frontend/packages/subgraph/package.json
  frontend/packages/subgraph/schema.graphql
  frontend/packages/subgraph/src/mappings/tokens.ts
  frontend/packages/subgraph/src/mappings/transfers.ts
  frontend/packages/subgraph/subgraph.yaml
  frontend/yarn.lock
Labels: frontend

#5 Apply Atomic Design
  frontend/.gitignore
  frontend/packages/react-app/src/App.js
  frontend/packages/react-app/src/components/atoms/WalletButton.jsx
  frontend/packages/react-app/src/components/molecules/AppHeader.jsx
  frontend/packages/react-app/src/components/molecules/Body.jsx
  frontend/packages/react-app/src/components/molecules/Links.jsx
  frontend/packages/react-app/src/components/organisms/.gitkeep
  frontend/packages/react-app/src/components/pages/TopPage.jsx
  frontend/packages/react-app/src/components/templates/TopPageTemplate.jsx
Labels: frontend

#6 Add basic routing and view
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/App.js
  frontend/packages/react-app/src/components/atoms/LinkOutlineButton.jsx
  frontend/packages/react-app/src/components/atoms/LogoButton.jsx
  frontend/packages/react-app/src/components/index.js
  frontend/packages/react-app/src/components/molecules/AppHeader.jsx
  frontend/packages/react-app/src/components/molecules/Body.jsx
  frontend/packages/react-app/src/components/molecules/CreateTokenForm.jsx
  frontend/packages/react-app/src/components/molecules/TokenList.jsx
  frontend/packages/react-app/src/components/molecules/TopBody.jsx
  frontend/packages/react-app/src/components/pages/CreateTokenPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
  frontend/packages/react-app/src/components/templates/CreateTokenPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate.jsx
  frontend/packages/react-app/src/components/templates/TopPageTemplate.jsx
  frontend/packages/react-app/src/index.css
  frontend/yarn.lock
Labels: frontend

#7 Factory contract and Token contract
  contract/contracts/FanToken.sol
  contract/contracts/TokenFactory.sol
  contract/contracts/interfaces.sol
  contract/package.json
  contract/test/FanToken.test.js
  contract/test/TokenFactory.test.js
Labels: contract

#9 Add form UI
  frontend/packages/react-app/src/components/atoms/Container.jsx
  frontend/packages/react-app/src/components/molecules/CheckBox.jsx
  frontend/packages/react-app/src/components/molecules/CreateTokenForm.jsx
  frontend/packages/react-app/src/components/molecules/NumberInput.jsx
  frontend/packages/react-app/src/components/molecules/NumberInputReadOnly.jsx
  frontend/packages/react-app/src/components/molecules/TextInput.jsx
  frontend/packages/react-app/src/components/organisms/CreateTokenForm.jsx
  frontend/packages/react-app/src/components/pages/CreateTokenPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
  frontend/packages/react-app/src/components/templates/CreateTokenPageTemplate.jsx
Labels: frontend

#13 Add create token method
  frontend/packages/contracts/src/abis.js
  frontend/packages/contracts/src/abis/TokenFactory.json
  frontend/packages/contracts/src/addresses.js
  frontend/packages/react-app/src/components/pages/CreateTokenPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
Labels: frontend

#12 Implement Staking Pool Contract
  contract/contracts/FanToken.sol
  contract/contracts/StakingPool.sol
  contract/contracts/TokenFactory.sol
  contract/contracts/interfaces.sol
  contract/test/FanToken.test.js
  contract/test/StakingPool.test.js
  contract/test/TokenFactory.test.js
Labels: contract

#15 Implement Vesting contract
  contract/contracts/TokenFactory.sol
  contract/contracts/Vesting.sol
  contract/contracts/interfaces.sol
  contract/test/TokenFactory.test.js
  contract/test/Vesting.test.js
Labels: contract

#19 Get a list of tokens
  frontend/packages/contracts/src/abis.js
  frontend/packages/contracts/src/abis/FanToken.json
  frontend/packages/contracts/src/addresses.js
  frontend/packages/react-app/src/components/molecules/TokenListItem.jsx
  frontend/packages/react-app/src/components/organisms/TokenList.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate.jsx
Labels: frontend

#20 Emitting events
  contract/contracts/StakingPool.sol
  contract/contracts/TokenFactory.sol
  contract/test/StakingPool.test.js
  contract/test/TokenFactory.test.js
Labels: contract

#22 Add ratio and period to token
  contract/contracts/FanToken.sol
  contract/contracts/TokenFactory.sol
  contract/test/FanToken.test.js
  contract/test/StakingPool.test.js
  contract/test/Vesting.test.js
Labels: contract

#23 Add getting redeemable amount
  contract/contracts/Vesting.sol
  contract/test/Vesting.test.js
Labels: contract

#21 Add pausing staking
  contract/contracts/StakingPool.sol
  contract/contracts/TokenFactory.sol
  contract/contracts/interfaces.sol
  contract/test/StakingPool.test.js
  contract/test/TokenFactory.test.js
Labels: contract

#24 Add token detail view
  frontend/packages/contracts/src/abis/Staking.json
  frontend/packages/react-app/src/components/organisms/TokenInfo.jsx
  frontend/packages/react-app/src/components/pages/DashboardPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
  frontend/packages/react-app/src/components/pages/TokenDetailPage.jsx
  frontend/packages/react-app/src/components/templates/TokenDetailPageTemplate.jsx
Labels: frontend

#26 Add staking, claiming, withdrawing function
  frontend/packages/contracts/src/abis/FanToken.json
  frontend/packages/contracts/src/abis/Staking.json
  frontend/packages/react-app/src/components/organisms/TokenInfo.jsx
  frontend/packages/react-app/src/components/pages/TokenDetailPage.jsx
  frontend/packages/react-app/src/components/templates/TokenDetailPageTemplate.jsx
Labels: frontend

#27 Implement a subgraph
  contract/.gitignore
  contract/README.md
  contract/contracts/TokenFactory.sol
  contract/test/TokenFactory.test.js
  contract/test/Vesting.test.js
  frontend/.gitignore
  frontend/package.json
  frontend/packages/contracts/src/abis/TokenFactory.json
  frontend/packages/subgraph/README.md
  frontend/packages/subgraph/package.json
  frontend/packages/subgraph/schema.graphql
  frontend/packages/subgraph/src/mapping.ts
  frontend/packages/subgraph/src/mappings/tokens.ts
  frontend/packages/subgraph/src/mappings/transfers.ts
  frontend/packages/subgraph/subgraph.yaml
Labels: contract

#28 Mouse/ropstensubgraph
  frontend/packages/contracts/src/addresses.js
  frontend/packages/subgraph/package.json
  frontend/packages/subgraph/subgraph.yaml
Labels: contract

#31 Add audius contract
  contract/contracts/Audius.sol
  contract/contracts/FanToken.sol
  contract/contracts/SafeMath8.sol
  contract/contracts/StakingPool.sol
  contract/contracts/TokenFactory.sol
  contract/contracts/Vesting.sol
  contract/contracts/interfaces.sol
  contract/package.json
  contract/test/Audius.test.js
Labels: contract

#32 Add truffle migration
  contract/.env.example
  contract/LICENSE
  contract/contracts/Migrations.sol
  contract/contracts/MyContract.sol
  contract/contracts/TokenFactory.sol
  contract/contracts/Vesting.sol
  contract/contracts/interfaces.sol
  contract/migrations/1_initial_migration.js
  contract/migrations/2_mycontract_migration.js
  contract/migrations/3_factory_migration.js
  contract/package.json
  contract/scripts/fund-contract.js
  contract/scripts/read-contract.js
  contract/scripts/request-data.js
  contract/test/MyContract_test.js
  contract/truffle-config.js
Labels: contract

#30 Add function to distribute token to Audius followers
  frontend/packages/contracts/src/abis.js
  frontend/packages/contracts/src/abis/Audius.json
  frontend/packages/contracts/src/addresses.js
  frontend/packages/react-app/package-lock.json
  frontend/packages/react-app/package.json
  frontend/packages/react-app/public/index.html
  frontend/packages/react-app/src/App.js
  frontend/packages/react-app/src/components/atoms/Container.jsx
  frontend/packages/react-app/src/components/molecules/CheckBox.jsx
  frontend/packages/react-app/src/components/molecules/DistributeAudiusToken.jsx
  frontend/packages/react-app/src/components/molecules/SignInAudius.jsx
  frontend/packages/react-app/src/components/molecules/SignOutAudius.jsx
  frontend/packages/react-app/src/components/organisms/AudiusDistribution.jsx
  frontend/packages/react-app/src/components/organisms/CreateTokenForm.jsx
  frontend/packages/react-app/src/components/organisms/CreatedTokenInfo.jsx
  frontend/packages/react-app/src/components/pages/AudiusDisributionPage.jsx
  frontend/packages/react-app/src/components/pages/CreateTokenPage.jsx
  frontend/packages/react-app/src/components/templates/AudiusDistributionPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/CreateTokenPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/DashboardPageTemplate.jsx
  frontend/packages/react-app/src/index.css
Labels: frontend

#29 Add using subgraph on frontend
  frontend/packages/react-app/src/components/pages/DashboardPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
  frontend/packages/react-app/src/components/pages/TokenDetailPage.jsx
  frontend/packages/react-app/src/components/pages/TopPage.jsx
  frontend/packages/react-app/src/graphql/subgraph.js
  frontend/packages/react-app/src/index.js
Labels: frontend

#36 Update Audius contarct
  contract/contracts/Audius.sol
  contract/contracts/MyContract.sol
  contract/contracts/interfaces.sol
  contract/test/Audius.test.js
  contract/test/MyContract_test.js
Labels: contract

#34 Add UI for user to claim audius distributed tokens.
  frontend/packages/contracts/src/abis/Audius.json
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/App.js
  frontend/packages/react-app/src/components/molecules/AudiusAccount.jsx
  frontend/packages/react-app/src/components/molecules/AudiusAddressInput.jsx
  frontend/packages/react-app/src/components/molecules/AudiusWithdrawToken.jsx
  frontend/packages/react-app/src/components/molecules/TopBody.jsx
  frontend/packages/react-app/src/components/organisms/TokenAudius.jsx
  frontend/packages/react-app/src/components/organisms/TokenList.jsx
  frontend/packages/react-app/src/components/pages/WithdrawAudiusPage.jsx
  frontend/packages/react-app/src/components/templates/WithdrawAudiusPageTemplate.jsx
Labels: frontend

#37 Change UI
  frontend/packages/react-app/public/iroiro_logo.svg
  frontend/packages/react-app/src/components/atoms/LinkButton.jsx
  frontend/packages/react-app/src/components/atoms/LogoButton.jsx
  frontend/packages/react-app/src/components/atoms/WalletButton.jsx
  frontend/packages/react-app/src/components/index.js
  frontend/packages/react-app/src/components/molecules/AppHeader.jsx
  frontend/packages/react-app/src/components/molecules/TokenListItem.jsx
  frontend/packages/react-app/src/components/molecules/TopBody.jsx
  frontend/packages/react-app/src/components/organisms/CreatedTokenInfo.jsx
  frontend/packages/react-app/src/components/organisms/TokenInfo.jsx
  frontend/packages/react-app/src/components/organisms/TokenList.jsx
  frontend/packages/react-app/src/components/pages/CreateTokenPage.jsx
  frontend/packages/react-app/src/components/pages/DashboardPage.jsx
  frontend/packages/react-app/src/components/templates/CreateTokenPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/DashboardPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate.jsx
  frontend/packages/react-app/src/components/templates/TokenDetailPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/TopPageTemplate.jsx
  frontend/packages/react-app/src/index.css
  frontend/packages/react-app/src/index.js
Labels: frontend

#40 Update audius interface
  contract/contracts/Audius.sol
  contract/contracts/interfaces.sol
Labels: contract

#38 Add Audius contract and request for contract
  frontend/packages/contracts/src/abis.js
  frontend/packages/contracts/src/abis/Audius.json
  frontend/packages/contracts/src/addresses.js
  frontend/packages/react-app/src/components/molecules/AudiusAccount.jsx
  frontend/packages/react-app/src/components/organisms/TokenAudius.jsx
  frontend/packages/react-app/src/components/pages/AudiusDisributionPage.jsx
  frontend/packages/react-app/src/components/pages/WithdrawAudiusPage.jsx
  frontend/packages/react-app/src/components/templates/WithdrawAudiusPageTemplate.jsx
Labels: frontend

#41 Update UI
  frontend/packages/contracts/src/abis/Audius.json
  frontend/packages/contracts/src/addresses.js
  frontend/packages/react-app/public/top_bg.svg
  frontend/packages/react-app/src/components/atoms/WalletButton.jsx
  frontend/packages/react-app/src/components/molecules/AudiusAccount.jsx
  frontend/packages/react-app/src/components/molecules/AudiusAddressInput.jsx
  frontend/packages/react-app/src/components/molecules/AudiusWithdrawToken.jsx
  frontend/packages/react-app/src/components/molecules/DistributeAudiusToken.jsx
  frontend/packages/react-app/src/components/molecules/SignInAudius.jsx
  frontend/packages/react-app/src/components/molecules/SignOutAudius.jsx
  frontend/packages/react-app/src/components/molecules/TopBody.jsx
  frontend/packages/react-app/src/components/organisms/AudiusDistribution.jsx
  frontend/packages/react-app/src/components/organisms/CreateTokenForm.jsx
  frontend/packages/react-app/src/components/organisms/TokenAudius.jsx
  frontend/packages/react-app/src/components/organisms/TokenList.jsx
  frontend/packages/react-app/src/components/pages/AudiusDisributionPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
  frontend/packages/react-app/src/components/pages/TokenDetailPage.jsx
  frontend/packages/react-app/src/components/pages/WithdrawAudiusPage.jsx
  frontend/packages/react-app/src/components/templates/AudiusDistributionPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/CreateTokenPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate.jsx
  frontend/packages/react-app/src/components/templates/TokenDetailPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/TopPageTemplate.jsx
  frontend/packages/react-app/src/components/templates/WithdrawAudiusPageTemplate.jsx
Labels: frontend

#44 Fix an error occurs if subgraph returns null
  frontend/packages/react-app/src/components/pages/DashboardPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
  frontend/packages/react-app/src/components/pages/TokenDetailPage.jsx
  frontend/yarn.lock
Labels: bug, frontend

#45 Update jobid
  frontend/packages/contracts/src/oracleJobs.js
Labels: frontend

#46 Update jobid
  frontend/packages/contracts/src/oracleJobs.js
Labels: frontend

#35 Integrate chainlink
  .gitignore
  adapter/.env.example
  adapter/.gitignore
  adapter/Dockerfile
  adapter/docker-compose.yml
  adapter/nodemon.json
  adapter/package.json
  adapter/src/index.ts
  adapter/tsconfig.json
  adapter/yarn.lock
  contract/contracts/Audius.sol
  contract/contracts/SafeMath64.sol
  contract/contracts/interfaces.sol
  contract/migrations/2_mycontract_migration.js
  contract/migrations/3_factory_migration.js
  contract/package.json
  contract/test/Audius.test.js
  contract/test/Audius_Chainlink_test.js
  docker/chainlink/.env.sample
  docker/chainlink/data/.gitkeep
  docker/docker-compose.yml
  docker/postgres/init/1_create.sql
  frontend/packages/subgraph/subgraph.yaml
Labels: contract

#47 Support decimals
  frontend/packages/react-app/src/components/organisms/CreatedTokenInfo.jsx
  frontend/packages/react-app/src/components/organisms/TokenInfo.jsx
  frontend/packages/react-app/src/components/pages/DashboardPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.jsx
  frontend/packages/react-app/src/components/pages/TokenDetailPage.jsx
  frontend/packages/react-app/src/graphql/subgraph.js
Labels: frontend
