Repository iroiro/iroiro, pull requests merged in 2020-11, with the labels that each got.

#53 Disable tests
  contract/test/Audius.test.js
  contract/test/Audius_Chainlink_test.js
Labels: contract

#55 New interfaces
  contract/contracts/NewInterfaces.sol
  contract/contracts/interfaces.sol
Labels: contract

#56 Add events
  contract/contracts/NewInterfaces.sol
Labels: contract

#58 Circleci project setup
  .circleci/config.yml
  contract/contracts/NewInterfaces.sol
  contract/package.json
Labels: contract

#59 Fix react error
  frontend/packages/react-app/package-lock.json
  frontend/packages/react-app/package.json
  frontend/yarn.lock
Labels: frontend

#61 Add LogoButton Atoms
  frontend/packages/react-app/src/components/atoms/Container.jsx
  frontend/packages/react-app/src/components/atoms/LogoButton/index.stories.tsx
  frontend/packages/react-app/src/components/atoms/LogoButton/index.tsx
Labels: frontend

#62 Fix testing timeout
  contract/truffle-config.js
Labels: bug, contract

#60 Implement contracts
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .node-version
  contract/contracts/Audius.sol
  contract/contracts/NewDonator.sol
  contract/contracts/NewInterfaces.sol
  contract/contracts/distributers/AudiusFollowers/AudiusFollowers.sol
  contract/test/NewCampaignInterface.test.js
  contract/test/NewDistributerInterface.test.js
  contract/test/NewDonator.test.js
  contract/test/Vesting.test.js
  contract/test/distributers/AudiusFollowers/AudiusFollowersCampaign.test.js
  contract/test/distributers/AudiusFollowers/AudiusFollowersDistributer.test.js
  package.json
  yarn.lock
Labels: contract

#65 Implement subgraph
  .gitignore
  .node-version
  contract/.openzeppelin/project.json
  contract/contracts/NewInterfaces.sol
  contract/contracts/distributers/AudiusFollowers/AudiusFollowers.sol
  contract/contracts/mocks/ERC20Mock.sol
  contract/migrations/2_mycontract_migration.js
  contract/migrations/3_audius_followers_migration.js
  contract/test/NewCampaignInterface.test.js
  contract/test/distributers/AudiusFollowers/AudiusFollowersCampaign.test.js
  contract/test/distributers/AudiusFollowers/AudiusFollowersDistributer.test.js
  frontend/.gitignore
  frontend/package.json
  frontend/packages/react-app/src/index.tsx
  frontend/packages/subgraph/package.json
  frontend/packages/subgraph/schema.graphql
  frontend/packages/subgraph/src/mapping.ts
  frontend/packages/subgraph/subgraph.yaml
  subgraph/.prettierignore
  subgraph/.prettierrc.json
  subgraph/README.md
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/campaign.ts
  subgraph/src/distributer.ts
  subgraph/src/donator.ts
  subgraph/src/mapping.ts
  subgraph/subgraph.yaml
  subgraph/yarn.lock
Labels: subgraph

#66 Subgraph deployments
  contract/.prettierignore
  contract/.prettierrc.json
  contract/README.md
  contract/migrations/1_initial_migration.js
  contract/migrations/2_mycontract_migration.js
  contract/migrations/3_audius_followers_migration.js
  contract/networks.js
  contract/package.json
  contract/scripts/fund-contract.js
  contract/scripts/read-contract.js
  contract/scripts/request-data.js
  contract/test/Audius.test.js
  contract/test/Audius_Chainlink_test.js
  contract/test/FanToken.test.js
  contract/test/NewCampaignInterface.test.js
  contract/test/NewDistributerInterface.test.js
  contract/test/NewDonator.test.js
  contract/test/StakingPool.test.js
  contract/test/TokenFactory.test.js
  contract/test/Vesting.test.js
  contract/test/distributers/AudiusFollowers/AudiusFollowersCampaign.test.js
  contract/test/distributers/AudiusFollowers/AudiusFollowersDistributer.test.js
  contract/truffle-config.js
  subgraph/package.json
  subgraph/subgraph.yaml
Labels: subgraph

#70 Add routing
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/ExternalTokenDetailPage.tsx
  frontend/packages/react-app/src/components/pages/SelectDistributersPage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignsPage.tsx
  frontend/packages/react-app/src/components/pages/TokenHistoryPage.tsx
Labels: frontend

#63 Add Reducer
  .gitignore
  .husky/_/husky.sh
  frontend/packages/react-app/src/components/molecules/TokenListItem.jsx
  frontend/packages/react-app/src/components/organisms/TokenList/index.tsx
  frontend/packages/react-app/src/components/pages/DashboardPage.jsx
  frontend/packages/react-app/src/components/pages/ExplorePage.tsx
  frontend/packages/react-app/src/components/pages/TopPage.tsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/TopPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TopPageTemplate/index.tsx
  frontend/packages/react-app/src/reducers/tokens.ts
Labels: frontend

#71 Get token info
  frontend/packages/contracts/src/abis.js
  frontend/packages/react-app/src/components/atoms/WalletButton.jsx
  frontend/packages/react-app/src/components/atoms/connectors.ts
  frontend/packages/react-app/src/components/molecules/AppHeader/index.tsx
  frontend/packages/react-app/src/components/organisms/WalletConnect/index.tsx
  frontend/packages/react-app/src/components/pages/AudiusDisributionPage.jsx
  frontend/packages/react-app/src/components/pages/ExternalTokenDetailPage.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/graphql/subgraph.js
  frontend/packages/react-app/src/reducers/token.ts
Labels: frontend

#72 Mouse/updatechainlink
  contract/contracts/NewInterfaces.sol
  contract/contracts/distributers/AudiusFollowers/AudiusFollowers.sol
  contract/test/distributers/AudiusFollowers/AudiusFollowersCampaign.test.js
  contract/test/distributers/AudiusFollowers/AudiusFollowersCampaign_test.js
Labels: contract

#75 Mouse/audiusfollowers ea
  .gitignore
  adapter/src/index.ts
  adapters/audius-followers/.env.example
  adapters/audius-followers/.gitignore
  adapters/audius-followers/Dockerfile
  adapters/audius-followers/docker-compose.yml
  adapters/audius-followers/nodemon.json
  adapters/audius-followers/package.json
  adapters/audius-followers/src/index.ts
  adapters/audius-followers/tsconfig.json
  adapters/audius-followers/yarn.lock
  contract/package.json
  docker/docker-compose.yml
  package.json
  yarn.lock
Labels: external-adapters
