Repository iroiro/iroiro, pull requests merged in 2021-01, with the labels that each got.

#128 Fix unexpected redirect
  frontend/.gitignore
  frontend/packages/react-app/package.json
Labels: bug, frontend

#130 Mouse/basicauth
  .gitignore
  frontend/package.json
  frontend/packages/react-app/package.json
  netlify.toml
Labels: frontend

#131 Add checking dynamic origin
  functions/ipfs-pinning/api/main.go
Labels: functions

#134 Network alert to modal
  frontend/packages/react-app/src/components/atoms/WalletButton/index.tsx
Labels: frontend

#137 Update OGP setting
  frontend/packages/react-app/public/favicon.ico
  frontend/packages/react-app/public/index.html
  frontend/packages/react-app/public/ogp.png
  frontend/packages/react-app/src/components/atoms/AddNewToken/index.tsx
  frontend/packages/react-app/src/components/atoms/LinkButton/index.tsx
  frontend/packages/react-app/src/components/atoms/LogoButton/index.tsx
  frontend/packages/react-app/src/components/molecules/AppHeader/index.tsx
  frontend/packages/react-app/src/components/organisms/SetTokenModal/index.tsx
  frontend/packages/react-app/src/interfaces.ts
Labels: frontend

#138 Noted that Iroiro is in Beta
  frontend/packages/react-app/src/components/molecules/AppHeader/index.tsx
Labels: frontend

#140 Remove followers table
  frontend/packages/react-app/src/components/molecules/DistributionTargetList/index.tsx
Labels: frontend

#144 Add new wallet provider
  frontend/packages/react-app/.env.example
  frontend/packages/react-app/src/components/atoms/WalletButton/index.tsx
  frontend/packages/react-app/src/components/atoms/connectors.ts
  frontend/packages/react-app/src/components/molecules/WalletDialog/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/WalletDialog/index.tsx
  frontend/packages/react-app/src/hooks/web3react/useEagerConnect.ts
  frontend/packages/react-app/src/hooks/web3react/useInactiveListener.ts
  frontend/packages/react-app/src/utils/connectors.ts
Labels: frontend

#142 Fix decimals
  frontend/packages/react-app/src/components/atoms/TokenAmount/index.tsx
  frontend/packages/react-app/src/components/molecules/ApproveTokenForm/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenBalance/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenBalance/index.tsx
  frontend/packages/react-app/src/components/organisms/ApproveToken/index.tsx
  frontend/packages/react-app/src/components/organisms/BasicTokenInformation/index.tsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/utils/web3.ts
Labels: frontend

#145 Mouse/walletdistributor
  contract/contracts/distributors/Wallet.sol
  contract/contracts/interfaces/CampaignInterfaceV2.sol
  contract/contracts/interfaces/DistributorInterfaceV2.sol
  contract/migrations/4_wallet_campaign_migration.js
  contract/package.json
  contract/test/CampaignInterfaceV2.test.js
  contract/test/DistributorInterfaceV2.test.js
  contract/test/distributors/Wallet/WalletCampaign.test.js
  contract/test/distributors/Wallet/WalletDistributor.test.js
  contract/test/distributors/Wallet/example_merkle_tree.json
  contract/truffle-config.js
  frontend/packages/react-app/src/types/CampaignInterfaceV2.d.ts
  frontend/packages/react-app/src/types/DistributorInterfaceV2.d.ts
  frontend/packages/react-app/src/types/ERC20.d.ts
  frontend/packages/react-app/src/types/ERC20Mock.d.ts
  frontend/packages/react-app/src/types/FanToken.d.ts
  frontend/packages/react-app/src/types/WalletCampaign.d.ts
  frontend/packages/react-app/src/types/WalletDistributor.d.ts
  frontend/packages/react-app/src/types/factories/CCTWalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Donator__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20__factory.ts
  frontend/packages/react-app/src/types/factories/FanToken__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/WalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/WalletDistributor__factory.ts
  frontend/packages/react-app/src/types/index.ts
  types/web3/CampaignInterfaceV2.d.ts
  types/web3/DistributorInterfaceV2.d.ts
  types/web3/ERC20.d.ts
  types/web3/ERC20Mock.d.ts
  types/web3/FanToken.d.ts
  types/web3/WalletCampaign.d.ts
  types/web3/WalletDistributor.d.ts
Labels: contract

#147 Fix wallet bug
  frontend/packages/react-app/src/components/molecules/WalletDialog/index.tsx
  frontend/packages/react-app/src/utils/connectors.ts
Labels: frontend

#146 Decimals bug fix and adopt other wallet.
  README.md
  contract/contracts/distributors/Wallet.sol
  contract/contracts/interfaces/CampaignInterfaceV2.sol
  contract/contracts/interfaces/DistributorInterfaceV2.sol
  contract/migrations/4_wallet_campaign_migration.js
  contract/package.json
  contract/test/CampaignInterfaceV2.test.js
  contract/test/DistributorInterfaceV2.test.js
  contract/test/distributors/Wallet/WalletCampaign.test.js
  contract/test/distributors/Wallet/WalletDistributor.test.js
  contract/test/distributors/Wallet/example_merkle_tree.json
  contract/truffle-config.js
  frontend/packages/react-app/.env.example
  frontend/packages/react-app/src/components/atoms/TokenAmount/index.tsx
  frontend/packages/react-app/src/components/atoms/WalletButton/index.tsx
  frontend/packages/react-app/src/components/atoms/connectors.ts
  frontend/packages/react-app/src/components/molecules/ApproveTokenForm/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenBalance/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenBalance/index.tsx
  frontend/packages/react-app/src/components/molecules/WalletDialog/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/WalletDialog/index.tsx
  frontend/packages/react-app/src/components/organisms/ApproveToken/index.tsx
  frontend/packages/react-app/src/components/organisms/BasicTokenInformation/index.tsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/hooks/web3react/useEagerConnect.ts
  frontend/packages/react-app/src/hooks/web3react/useInactiveListener.ts
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/types/CampaignInterfaceV2.d.ts
  frontend/packages/react-app/src/types/DistributorInterfaceV2.d.ts
  frontend/packages/react-app/src/types/ERC20.d.ts
  frontend/packages/react-app/src/types/ERC20Mock.d.ts
  frontend/packages/react-app/src/types/FanToken.d.ts
  frontend/packages/react-app/src/types/WalletCampaign.d.ts
  frontend/packages/react-app/src/types/WalletDistributor.d.ts
  frontend/packages/react-app/src/types/factories/CCTWalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Donator__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20__factory.ts
  frontend/packages/react-app/src/types/factories/FanToken__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/WalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/WalletDistributor__factory.ts
  frontend/packages/react-app/src/types/index.ts
  frontend/packages/react-app/src/utils/connectors.ts
  frontend/packages/react-app/src/utils/web3.ts
  types/web3/CampaignInterfaceV2.d.ts
  types/web3/DistributorInterfaceV2.d.ts
  types/web3/ERC20.d.ts
  types/web3/ERC20Mock.d.ts
  types/web3/FanToken.d.ts
  types/web3/WalletCampaign.d.ts
  types/web3/WalletDistributor.d.ts
Labels: frontend

#148 Update recipients format
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/CreateCampaignPage.tsx
  frontend/packages/react-app/src/interfaces.ts
Labels: bug, frontend

#150 Mouse/fixwalletcontract and update subgraph
  contract/contracts/SafeMath32.sol
  contract/contracts/distributors/Wallet.sol
  contract/contracts/interfaces/CampaignInterfaceV2.sol
  contract/test/CampaignInterfaceV2.test.js
  contract/test/distributors/Wallet/WalletCampaign.test.js
  frontend/packages/react-app/src/types/CampaignInterfaceV2.d.ts
  frontend/packages/react-app/src/types/WalletCampaign.d.ts
  frontend/packages/react-app/src/types/factories/CCTWalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Donator__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/WalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/WalletDistributor__factory.ts
  subgraph/schema.graphql
  subgraph/src/campaigns/cct-wallet-campaign.ts
  subgraph/src/campaigns/wallet-campaign.ts
  subgraph/src/distributors/cct-wallet-distributor.ts
  subgraph/src/distributors/wallet-distributor.ts
  subgraph/src/mapping.ts
  subgraph/subgraph.yaml
  types/web3/CampaignInterfaceV2.d.ts
  types/web3/WalletCampaign.d.ts
Labels: bug, contract

#151 Fixed GET_CAMPAIGNS query and improve placeholder
  frontend/packages/react-app/src/components/molecules/ApproveTokenForm/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.tsx
  frontend/packages/react-app/src/components/pages/TokenInformationPage.tsx
  frontend/packages/react-app/src/graphql/subgraph.js
  frontend/packages/react-app/src/utils/mockData.ts
Labels: bug, frontend

#155 Merkle tree generation function
  functions/merkle-tree/.gitignore
  functions/merkle-tree/README.md
  functions/merkle-tree/env.json.example
  functions/merkle-tree/events/generator.json
  functions/merkle-tree/events/input-generator.json
  functions/merkle-tree/events/splitter.json
  functions/merkle-tree/events/uploader.json
  functions/merkle-tree/functions/generator/.env.example
  functions/merkle-tree/functions/generator/.npmignore
  functions/merkle-tree/functions/generator/package.json
  functions/merkle-tree/functions/generator/src/app.ts
  functions/merkle-tree/functions/generator/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/generator/tsconfig.json
  functions/merkle-tree/functions/generator/yarn.lock
  functions/merkle-tree/functions/input-generator/.env.example
  functions/merkle-tree/functions/input-generator/.npmignore
  functions/merkle-tree/functions/input-generator/package.json
  functions/merkle-tree/functions/input-generator/src/app.ts
  functions/merkle-tree/functions/input-generator/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/input-generator/tsconfig.json
  functions/merkle-tree/functions/input-generator/yarn.lock
  functions/merkle-tree/functions/splitter/.env.example
  functions/merkle-tree/functions/splitter/.npmignore
  functions/merkle-tree/functions/splitter/package.json
  functions/merkle-tree/functions/splitter/src/app.ts
  functions/merkle-tree/functions/splitter/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/splitter/tsconfig.json
  functions/merkle-tree/functions/splitter/yarn.lock
  functions/merkle-tree/functions/uploader/.env.example
  functions/merkle-tree/functions/uploader/.npmignore
  functions/merkle-tree/functions/uploader/package.json
  functions/merkle-tree/functions/uploader/src/app.ts
  functions/merkle-tree/functions/uploader/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/uploader/tsconfig.json
  functions/merkle-tree/functions/uploader/yarn.lock
  functions/merkle-tree/integration-tests/package.json
  functions/merkle-tree/integration-tests/test-state-machine.js
  functions/merkle-tree/package.json
  functions/merkle-tree/samconfig.toml
  functions/merkle-tree/statemachine/merkle_tree.asl.json
  functions/merkle-tree/template.yaml
  functions/merkle-tree/yarn.lock
  package.json
  yarn.lock
Labels: functions

#156 Fix decimals in UserHistory
  frontend/packages/react-app/src/components/molecules/UserActivityCard/index.tsx
Labels: bug, frontend

#157 Fix all campaigns is shown in creator dashboard
  frontend/packages/react-app/src/components/pages/ExternalTokenDetailPage.tsx
  frontend/packages/react-app/src/graphql/subgraph.js
Labels: bug, frontend

#152 Optimized Header for SP
  frontend/packages/react-app/src/components/atoms/LogoButton/index.tsx
  frontend/packages/react-app/src/components/molecules/AppHeader/index.tsx
  frontend/packages/react-app/src/components/molecules/AppHeader/style.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/style.tsx
  frontend/packages/react-app/src/components/templates/DashboardPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate/index.tsx
  frontend/packages/react-app/src/theme/mui-theme.js
Labels: frontend

#160 Fix lacked dependencies
  frontend/packages/react-app/package.json
  frontend/yarn.lock
Labels: bug, frontend
