Repository iroiro/iroiro, pull requests merged in 2021-03, with the labels that each got.

#220 Add saving account
  subgraph/src/campaigns/uuid-campaign.ts
  subgraph/src/campaigns/wallet-campaign.ts
Labels: subgraph

#214 Mouse/loading
  frontend/packages/react-app/src/components/molecules/ApproveTokenForm/index.tsx
  frontend/packages/react-app/src/components/molecules/WaitingProcessDialog/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/ApproveTokenStep/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/steps/ApproveTokenStep/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/InputTokenAddressStep/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/steps/InputTokenAddressStep/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/StartCampaignStep/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/steps/StartCampaignStep/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateEmailCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateUUIDCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateWalletAddressCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/SetupCampaign/index.tsx
  frontend/packages/react-app/src/components/pages/CreateEmailCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateUUIDCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateWalletCampaignPage.tsx
  frontend/packages/react-app/src/components/templates/CreateEmailCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateUUIDCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateWalletCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: frontend

#221 Fix token is not shown on token select modal
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.tsx
  frontend/packages/react-app/src/components/pages/DashboardPage.tsx
Labels: bug, frontend

#219 Maoh/update style
  frontend/packages/react-app/.storybook/preview.jsx
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/atoms/SelectTokenInput/index.tsx
  frontend/packages/react-app/src/components/molecules/AppFooter/index.tsx
  frontend/packages/react-app/src/components/molecules/AppHeader/style.tsx
  frontend/packages/react-app/src/components/molecules/ApproveTokenForm/index.tsx
  frontend/packages/react-app/src/components/molecules/BalanceHistoryChart/index.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.tsx
  frontend/packages/react-app/src/components/molecules/Item/index.tsx
  frontend/packages/react-app/src/components/molecules/SetupCampaignForm/index.tsx
  frontend/packages/react-app/src/components/molecules/TabMenuForFunPage/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenCampaignCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenInfoBar/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/ApproveTokenStep/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/InputTokenAddressStep/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/StartCampaignStep/index.tsx
  frontend/packages/react-app/src/components/organisms/AppFrame/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateEmailCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateUUIDCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateWalletAddressCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/SelectTokenModal/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/SelectTokenModal/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.tsx
  frontend/packages/react-app/src/components/organisms/UUIDDistributionTargets/index.tsx
  frontend/packages/react-app/src/components/organisms/UserHistory/index.tsx
  frontend/packages/react-app/src/components/organisms/WalletDistributionTargets/index.tsx
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateEmailCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateUUIDCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateWalletCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/index.tsx
  frontend/packages/react-app/src/theme/commonStyles.tsx
  frontend/yarn.lock
Labels: frontend

#222 Add end date validation
  frontend/packages/react-app/src/components/molecules/SetupCampaignForm/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/StartCampaignStep/index.tsx
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: bug, frontend

#224 Fix DOM error
  frontend/packages/react-app/src/components/molecules/AppFooter/index.tsx
Labels: frontend

#223 Mouse/duplicatedaddresses
  frontend/packages/react-app/src/components/molecules/ApproveTokenForm/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/ApproveTokenStep/index.tsx
  frontend/packages/react-app/src/components/organisms/ApproveToken/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateEmailCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateUUIDCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateWalletAddressCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/WalletDistributionTargets/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/WalletDistributionTargets/index.tsx
  frontend/packages/react-app/src/components/pages/CreateEmailCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateUUIDCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateWalletCampaignPage.tsx
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/reducers/email.ts
  frontend/packages/react-app/src/reducers/wallet.ts
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/packages/react-app/src/utils/web3.ts
Labels: bug, frontend

#225 Add error handling on token input
  frontend/packages/react-app/src/components/molecules/steps/InputTokenAddressStep/index.tsx
  frontend/packages/react-app/src/components/templates/CreateWalletCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/hooks/useGetTokenInfo.ts
  frontend/packages/react-app/src/utils/web3.ts
Labels: bug, frontend

#226 Remove rinkeby hardcoding
  frontend/packages/react-app/.env.example
  frontend/packages/react-app/src/components/atoms/EtherscanLink/index.tsx
  frontend/packages/react-app/src/components/organisms/SelectTokenModal/index.stories.tsx
  frontend/packages/react-app/src/utils/web3.ts
Labels: bug, frontend

#229 Remove history pane from page
  frontend/packages/react-app/src/components/molecules/BalanceHistoryChart/index.tsx
  frontend/packages/react-app/src/components/organisms/UserHistory/index.tsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate/index.tsx
Labels: frontend

#233 Integrate contract
  contract/contracts/distributors/UUID.sol
  contract/contracts/distributors/Wallet.sol
  contract/contracts/interfaces/CampaignInterfaceV1.sol
  contract/contracts/interfaces/DistributorInterfaceV1.sol
  contract/migrations/4_tIRO_migration.js
  contract/package.json
  contract/test/CampaignInterfaceV1.test.js
  contract/test/DistributorInterfaceV1.test.js
  contract/test/distributors/UUID/UUIDCampaign.test.js
  contract/test/distributors/UUID/UUIDDistributor.test.js
  contract/test/distributors/Wallet/WalletCampaign.test.js
  contract/test/distributors/Wallet/WalletDistributor.test.js
  contract/test/tIRO.test.js
  contract/truffle-config.js
Labels: contract

#234 Introduce hardhat
  contract/.gitignore
  contract/.openzeppelin/project.json
  contract/coverage.js
  contract/hardhat.config.js
  contract/networks.js
  contract/package.json
  contract/scripts/deploy.js
  contract/scripts/fund-contract.js
  contract/scripts/read-contract.js
  contract/scripts/request-data.js
  contract/test/DistributorInterfaceV1.test.js
  contract/test/distributors/UUID/UUIDDistributor.test.js
  contract/test/distributors/Wallet/WalletDistributor.test.js
  contract/test/distributors/Wallet/example_merkle_tree.json
  contract/test/tIRO.test.js
  contract/truffle-config.js
  frontend/packages/react-app/src/types/MerkleDistributorManager.d.ts
  frontend/packages/react-app/src/types/StringMerkleDistributorManager.d.ts
  frontend/packages/react-app/src/types/commons.ts
  frontend/packages/react-app/src/types/factories/MerkleDistributorManager__factory.ts
  frontend/packages/react-app/src/types/factories/StringMerkleDistributorManager__factory.ts
  types/web3/MerkleDistributorManager.d.ts
  types/web3/StringMerkleDistributorManager.d.ts
Labels: contract

#235 Update solidity version
  contract/contracts/Migrations.sol
  contract/contracts/SafeMath32.sol
  contract/contracts/SafeMath64.sol
  contract/contracts/SafeMath8.sol
  contract/contracts/distributors/UUID.sol
  contract/contracts/distributors/Wallet.sol
  contract/contracts/interfaces/DistributorInterfaceV1.sol
  contract/contracts/mocks/ERC20Mock.sol
  contract/contracts/tIRO.sol
  contract/hardhat.config.js
  contract/package.json
  contract/truffle-config.js
Labels: contract

#236 Update integrated contracts
  contract/contracts/distributors/UUID.sol
  contract/contracts/distributors/Wallet.sol
  contract/contracts/interfaces/DistributorInterfaceV1.sol
  contract/hardhat.config.js
  contract/package.json
  contract/test/DistributorInterfaceV1.test.js
  contract/test/distributors/UUID/UUIDDistributor.test.js
  contract/test/distributors/Wallet/WalletDistributor.test.js
Labels: contract

#241 Update subgraph rinkeby config
  frontend/packages/react-app/src/generated/graphql.tsx
  subgraph/config/rinkeby.json
  subgraph/frontend_schema.graphql
Labels: subgraph

#244 Remove back button on completed step
  frontend/packages/react-app/src/components/organisms/CreateEmailCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateUUIDCampaignStepper/index.tsx
Labels: frontend

#247 Fix invalid id is assigned to fetch campaign
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
Labels: bug, frontend

#248 Fix subgraph claimed num is not incremented
  subgraph/src/distributors/uuid-distributor.ts
  subgraph/src/distributors/wallet-distributor.ts
Labels: bug, subgraph

#249 Update header name of campaign detail
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemplate/index.tsx
Labels: frontend

#250 Add loading to claim
  frontend/packages/react-app/src/components/atoms/EtherscanLink/index.stories.tsx
  frontend/packages/react-app/src/components/atoms/EtherscanLink/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenInfoBar/index.tsx
  frontend/packages/react-app/src/components/molecules/WaitingProcessDialog/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/WaitingProcessDialog/index.tsx
  frontend/packages/react-app/src/components/molecules/WalletTokenClaimCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/WalletTokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/organisms/BasicTokenInformation/index.tsx
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/pages/CreateEmailCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateUUIDCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateWalletCampaignPage.tsx
  frontend/packages/react-app/src/components/templates/CreateEmailCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateUUIDCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateWalletCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/reducers/campaignDetail.ts
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/packages/react-app/src/utils/web3.ts
Labels: frontend

#251 Remove authereum
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/molecules/WalletDialog/index.tsx
  frontend/packages/react-app/src/utils/connectors.ts
  frontend/yarn.lock
Labels: frontend

#253 Mouse/updatecontract
  contract/contracts/distributors/UUID.sol
  contract/contracts/distributors/Wallet.sol
  contract/package.json
  contract/test/distributors/UUID/UUIDDistributor.test.ts
  contract/test/distributors/Wallet/WalletDistributor.test.ts
Labels: contract

#255 Fix grammar
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.tsx
  frontend/packages/react-app/src/components/molecules/WaitingProcessDialog/index.tsx
  frontend/packages/react-app/src/components/molecules/WalletTokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/InputTokenAddressStep/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/CreateEmailCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateUUIDCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateWalletAddressCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/UploadEmailCsvPane/index.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/utils/distributors.ts
Labels: frontend

#254 Mouse/frontenduuid
  contract/README.md
  contract/package.json
  contract/scripts/deploy.js
  contract/types/IMerkleDistributorManager.d.ts
  contract/types/MerkleDistributorManager.d.ts
  contract/types/StringMerkleDistributorManager.d.ts
  contract/types/UUIDDistributor.d.ts
  contract/types/WalletDistributor.d.ts
  contract/types/factories/ERC20Mock__factory.ts
  contract/types/factories/IMerkleDistributorManager__factory.ts
  contract/types/factories/MerkleDistributorManager__factory.ts
  contract/types/factories/StringMerkleDistributorManager__factory.ts
  contract/types/factories/UUIDDistributor__factory.ts
  contract/types/factories/WalletDistributor__factory.ts
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/molecules/WalletTokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/generated/graphql.tsx
  frontend/packages/react-app/src/reducers/campaignDetail.ts
  frontend/packages/react-app/src/types/IMerkleDistributorManager.d.ts
  frontend/packages/react-app/src/types/MerkleDistributorManager.d.ts
  frontend/packages/react-app/src/types/StringMerkleDistributorManager.d.ts
  frontend/packages/react-app/src/types/UUIDDistributor.d.ts
  frontend/packages/react-app/src/types/WalletDistributor.d.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/IMerkleDistributorManager__factory.ts
  frontend/packages/react-app/src/types/factories/MerkleDistributorManager__factory.ts
  frontend/packages/react-app/src/types/factories/StringMerkleDistributorManager__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/WalletDistributor__factory.ts
  frontend/packages/react-app/src/utils/mockData.ts
  frontend/packages/react-app/src/utils/web3.ts
  frontend/yarn.lock
  functions/merkle-tree/functions/generator/package.json
  functions/merkle-tree/functions/generator/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/input-generator/package.json
  functions/merkle-tree/yarn.lock
  subgraph/config/kovan.json
  subgraph/config/rinkeby.json
  subgraph/frontend_schema.graphql
  subgraph/subgraph.template.yaml
  types/web3/IMerkleDistributorManager.d.ts
  types/web3/MerkleDistributorManager.d.ts
  types/web3/StringMerkleDistributorManager.d.ts
  types/web3/UUIDDistributor.d.ts
  types/web3/WalletDistributor.d.ts
Labels: frontend

#257 Update functions and constants
  frontend/packages/react-app/src/components/pages/CreateEmailCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateUUIDCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateWalletCampaignPage.tsx
  frontend/packages/react-app/src/utils/const.ts
  functions/ipfs-pinning/samconfig.toml
  functions/merkle-tree/samconfig.toml
  functions/merkle-tree/statemachine/merkle_tree.asl.json
Labels: frontend, functions

#258 Mouse/updatemainnetconfig
  contract/README.md
  contract/package.json
  contract/truffle-config.js
  subgraph/config/mainnet.json
Labels: contract, subgraph

#260 Add etherscan plugin
  contract/.env.example
  contract/package.json
  contract/truffle-config.js
Labels: contract

#262 Mouse/nftdistributor
  contract/README.md
  contract/contracts/distributors/UUIDNFT.sol
  contract/contracts/distributors/WalletNFT.sol
  contract/contracts/interfaces/NFTDistributorInterfaceV1.sol
  contract/migrations/4_wallet_nft_campaign_migration.js
  contract/migrations/5_uuid_nft_campaign_migration.js
  contract/package.json
  contract/test/NFTDistributorInterfaceV1.test.ts
  contract/test/distributors/UUID/UUIDNFTDistributor.test.ts
  contract/test/distributors/Wallet/WalletNFTDistributor.test.ts
  contract/types/NFTDistributorInterfaceV1.d.ts
  contract/types/UUIDNFTDistributor.d.ts
  contract/types/WalletNFTDistributor.d.ts
  contract/types/factories/ERC20Mock__factory.ts
  contract/types/factories/Migrations__factory.ts
  contract/types/factories/NFTDistributorInterfaceV1__factory.ts
  contract/types/factories/UUIDDistributor__factory.ts
  contract/types/factories/UUIDNFTDistributor__factory.ts
  contract/types/factories/WalletDistributor__factory.ts
  contract/types/factories/WalletNFTDistributor__factory.ts
  contract/types/index.ts
  frontend/packages/react-app/src/types/NFTDistributorInterfaceV1.d.ts
  frontend/packages/react-app/src/types/UUIDNFTDistributor.d.ts
  frontend/packages/react-app/src/types/WalletNFTDistributor.d.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/NFTDistributorInterfaceV1__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDNFTDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/WalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/WalletNFTDistributor__factory.ts
  frontend/packages/react-app/src/types/index.ts
  types/web3/NFTDistributorInterfaceV1.d.ts
  types/web3/UUIDNFTDistributor.d.ts
  types/web3/WalletNFTDistributor.d.ts
Labels: contract

#265 Remove noneed contract argument
  contract/README.md
  contract/contracts/distributors/UUIDNFT.sol
  contract/contracts/distributors/WalletNFT.sol
  contract/contracts/interfaces/NFTDistributorInterfaceV1.sol
  contract/test/NFTDistributorInterfaceV1.test.ts
  contract/test/distributors/UUID/UUIDNFTDistributor.test.ts
  contract/test/distributors/Wallet/WalletNFTDistributor.test.ts
  contract/types/NFTDistributorInterfaceV1.d.ts
  contract/types/UUIDNFTDistributor.d.ts
  contract/types/WalletNFTDistributor.d.ts
  contract/types/factories/NFTDistributorInterfaceV1__factory.ts
  contract/types/factories/UUIDNFTDistributor__factory.ts
  contract/types/factories/WalletNFTDistributor__factory.ts
  frontend/packages/react-app/src/generated/graphql.tsx
  subgraph/config/kovan.json
  subgraph/frontend_schema.graphql
  subgraph/schema.graphql
  subgraph/src/distributors/uuid-distributor.ts
  subgraph/src/distributors/uuid-nft-distributor.ts
  subgraph/src/distributors/wallet-distributor.ts
  subgraph/src/distributors/wallet-nft-distributor.ts
  subgraph/subgraph.template.yaml
Labels: contract, subgraph

#268 Mouse/updatemetadataapi
  contract/migrations/5_wallet_nft_campaign_migration.js
  contract/migrations/6_uuid_nft_campaign_migration.js
  functions/nft-metadata/env.json.example
  functions/nft-metadata/events/event.json
  functions/nft-metadata/samconfig.toml
  functions/nft-metadata/src/.env.example
  functions/nft-metadata/src/app.js
  functions/nft-metadata/src/build/contracts/UUIDNFTDistributor.json
  functions/nft-metadata/src/build/contracts/WalletNFTDistributor.json
  functions/nft-metadata/src/tests/unit/test-handler.js
  functions/nft-metadata/template.yaml
Labels: contract, functions

#267 Add networks
  contract/.env.example
  contract/truffle-config.js
Labels: contract

#269 Fix frontend issues
  frontend/packages/react-app/src/components/molecules/WaitingProcessDialog/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignDetailForCreatorProps/index.tsx
Labels: bug, frontend

#272 Add redirection from old campaign detail to new campaign detail page
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/pages/OldCampaignDetailCreatorPage.tsx
Labels: frontend

#270 Mouse/deployrinkeby
  functions/nft-metadata/env.json.example
  functions/nft-metadata/src/.env.example
  functions/nft-metadata/src/app.js
  functions/nft-metadata/src/tests/unit/test-handler.js
  functions/nft-metadata/template.yaml
Labels: functions

#271 Mouse/variableuri
  contract/README.md
  contract/contracts/interfaces/NFTDistributorInterfaceV1.sol
  contract/migrations/5_wallet_nft_campaign_migration.js
  contract/migrations/6_uuid_nft_campaign_migration.js
  contract/test/NFTDistributorInterfaceV1.test.ts
  frontend/packages/react-app/.env.example
  functions/nft-metadata/src/app.js
  subgraph/config/kovan.json
  subgraph/config/rinkeby.json
Labels: contract

#273 Mouse/fixfrontend
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/molecules/SignOutAudius/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/SignOutAudius/index.tsx
  frontend/packages/react-app/src/components/molecules/SigninAudius/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/SigninAudius/index.tsx
  frontend/packages/react-app/src/components/molecules/steps/StartCampaignStep/index.tsx
  frontend/packages/react-app/src/components/pages/OldCampaignDetailCreatorPage.tsx
  frontend/packages/react-app/src/reducers/audius.ts
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: bug, frontend

#274 Remove noneed back button
  frontend/packages/react-app/src/components/organisms/CampaignDetailForCreatorProps/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateEmailNFTCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/CreateUUIDNFTCampaignStepper/index.tsx
  frontend/packages/react-app/src/components/organisms/NFTCampaignDetail/index.tsx
  frontend/packages/react-app/src/components/templates/NFTCampaignsDetailPageTemplate/index.stories.tsx
Labels: bug, frontend

#275 Mouse/improvegascost
  contract/contracts/distributors/UUIDNFT.sol
  contract/contracts/distributors/WalletNFT.sol
  contract/contracts/interfaces/NFTDistributorInterfaceV1.sol
  contract/package.json
  contract/test/distributors/UUID/UUIDNFTDistributor.test.ts
  contract/test/distributors/UUID/example_merkle_tree_one.json
  contract/test/distributors/UUID/example_merkle_tree_one_input.txt
  contract/test/distributors/Wallet/WalletNFTDistributor.test.ts
  contract/test/distributors/Wallet/example_merkle_tree_one.json
  contract/tsconfig.json
  contract/types/NFTDistributorInterfaceV1.d.ts
  contract/types/UUIDNFTDistributor.d.ts
  contract/types/WalletNFTDistributor.d.ts
  contract/types/factories/NFTDistributorInterfaceV1__factory.ts
  contract/types/factories/TIRO__factory.ts
  contract/types/factories/UUIDNFTDistributor__factory.ts
  contract/types/factories/WalletNFTDistributor__factory.ts
  frontend/packages/react-app/src/types/NFTDistributorInterfaceV1.d.ts
  frontend/packages/react-app/src/types/UUIDNFTDistributor.d.ts
  frontend/packages/react-app/src/types/WalletNFTDistributor.d.ts
  frontend/packages/react-app/src/types/factories/NFTDistributorInterfaceV1__factory.ts
  frontend/packages/react-app/src/types/factories/TIRO__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDNFTDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/WalletNFTDistributor__factory.ts
  frontend/packages/react-app/src/utils/web3.ts
  functions/nft-metadata/src/app.js
  subgraph/config/kovan.json
  subgraph/config/rinkeby.json
  subgraph/subgraph.template.yaml
  types/web3/NFTDistributorInterfaceV1.d.ts
  types/web3/UUIDNFTDistributor.d.ts
  types/web3/WalletNFTDistributor.d.ts
Labels: contract, frontend

#278 Fix campaign detail is not shown
  frontend/packages/react-app/src/components/pages/NFTCampaignDetailPage.tsx
Labels: bug

#280 Fix NFT campaign detail style
  frontend/packages/react-app/src/components/organisms/NFTCampaignDetail/index.tsx
Labels: bug, frontend
