Repository iroiro/iroiro, pull requests merged in 2021-02, with the labels that each got.

#162 UUID Distributor
  contract/contracts/distributors/UUID.sol
  contract/migrations/5_uuid_campaign_migration.js
  contract/package.json
  contract/test/distributors/UUID/UUIDCampaign.test.js
  contract/test/distributors/UUID/UUIDDistributor.test.js
  contract/test/distributors/UUID/example_merkle_tree.json
  frontend/packages/react-app/src/types/UUIDCampaign.d.ts
  frontend/packages/react-app/src/types/UUIDDistributor.d.ts
  frontend/packages/react-app/src/types/factories/UUIDCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDDistributor__factory.ts
  subgraph/subgraph.yaml
  types/web3/UUIDCampaign.d.ts
  types/web3/UUIDDistributor.d.ts
Labels: contract, subgraph

#163 Add 404 page
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/templates/NotFoundPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/NotFoundPageTemplate/index.tsx
Labels: frontend

#164 Add Footer component
  frontend/packages/react-app/src/components/molecules/AppFooter/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/AppFooter/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationTabs/index.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateAudiusCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/CreateWalletCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/DashboardPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/ExplorePageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/ExternalTokenDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/SelectDistributorsPageTemplate/index.tsx
  frontend/packages/react-app/src/components/templates/TokenInformationTemplate/index.tsx
Labels: frontend

#167 Backend for UUID distributor
  functions/merkle-tree/functions/generator/package.json
  functions/merkle-tree/functions/generator/src/app.ts
  functions/merkle-tree/functions/generator/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/input-generator/package.json
  functions/merkle-tree/functions/input-generator/src/app.ts
  functions/merkle-tree/functions/input-generator/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/splitter/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/uploader/tests/unit/test-handler.spec.ts
  functions/merkle-tree/yarn.lock
Labels: functions

#166 Delete Audius distributor
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.tsx
  frontend/packages/react-app/src/components/organisms/CampaignList/index.tsx
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/SelectDistributorsPage.tsx
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/reducers/campaign.ts
  frontend/packages/react-app/src/utils/distributors.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: frontend

#170 Mouse/hotfixsubgraph
  subgraph/frontend_schema.graphql
  subgraph/query.graphql
  subgraph/schema.graphql
  subgraph/src/campaigns/uuid-campaign.ts
  subgraph/src/distributors/uuid-distributor.ts
  subgraph/subgraph.yaml
Labels: bug, subgraph

#172 Add lowercasefying distributor addresses
  frontend/packages/react-app/src/utils/distributors.ts
Labels: bug, frontend

#171 Add fan side URL campaign page
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/molecules/TokenRequestCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/WalletTokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/organisms/AudiusCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/UUIDURLList/index.tsx
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/pages/CreateUUIDCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
  frontend/packages/react-app/src/components/templates/CreateUUIDCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/hooks/distributors/cct-wallet/useIsClaimable.ts
  frontend/packages/react-app/src/interfaces.ts
  frontend/packages/react-app/src/reducers/campaignDetail.ts
  frontend/packages/react-app/src/reducers/uuid.ts
  frontend/packages/react-app/src/types/factories/UUIDDistributor__factory.ts
  frontend/packages/react-app/src/utils/distributors.ts
  frontend/packages/react-app/src/utils/web3.ts
  frontend/yarn.lock
Labels: frontend

#174 Fix error on campaign created
  frontend/packages/react-app/src/components/pages/CreateUUIDCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/CreateWalletCampaignPage.tsx
Labels: bug, frontend

#176 Fix an error occurred on wallet campaign already claimed
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
  frontend/packages/react-app/src/hooks/distributors/cct-wallet/useIsClaimable.ts
Labels: bug, frontend

#177 Fix fetched invalid json if content is large
  functions/merkle-tree/functions/generator/src/app.ts
  functions/merkle-tree/functions/generator/tests/unit/test-handler.spec.ts
  functions/merkle-tree/functions/input-generator/package.json
  functions/merkle-tree/functions/input-generator/src/app.ts
  functions/merkle-tree/functions/input-generator/tests/unit/test-handler.spec.ts
  functions/merkle-tree/yarn.lock
Labels: bug, functions

#178 Add defaultProvider
  frontend/packages/react-app/src/utils/web3.ts
Labels: frontend

#181 Fix revert message
  contract/contracts/interfaces/CampaignInterface.sol
  contract/contracts/interfaces/CampaignInterfaceV2.sol
  contract/test/CampaignInterface.test.js
  contract/test/CampaignInterfaceV2.test.js
Labels: bug, contract

#182 Make tIRO token for Rinkeby
  contract/contracts/tIRO.sol
  contract/migrations/6_tIRO_migration.js
  contract/test/tIRO.test.js
  frontend/packages/react-app/src/types/TIRO.d.ts
  frontend/packages/react-app/src/types/factories/CCTWalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ChainlinkClient__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Donator__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20__factory.ts
  frontend/packages/react-app/src/types/factories/FanToken__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/TIRO__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/WalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/WalletDistributor__factory.ts
  frontend/packages/react-app/src/types/index.ts
  types/web3/tIRO.d.ts
Labels: contract

#183 Add migration condition
  contract/migrations/6_tIRO_migration.js
Labels: contract

#180 Add date validator
  frontend/packages/react-app/src/components/molecules/SetupCampaignForm/index.tsx
Labels: frontend

#184 Remove migrations of Chainlink and CCTWalletDistributor
  contract/migrations/2_chainlink_migration.js
  contract/migrations/2_wallet_campaign_migration.js
  contract/migrations/3_cct_wallet_migration.js
  contract/migrations/3_uuid_campaign_migration.js
  contract/migrations/4_tIRO_migration.js
Labels: contract

#185 Update distributor info cid
  contract/migrations/2_wallet_campaign_migration.js
  contract/migrations/3_uuid_campaign_migration.js
Labels: bug, contract

#187 Mouse/frontendlatency
  frontend/package.json
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/molecules/AudiusTokenClaimCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/AudiusTokenClaimCard/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenRequestCard/index.stories.tsx
  frontend/packages/react-app/src/components/molecules/TokenRequestCard/index.tsx
  frontend/packages/react-app/src/components/organisms/AudiusCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/AudiusCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/organisms/AudiusDistributionTargets/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/AudiusDistributionTargets/index.tsx
  frontend/packages/react-app/src/components/pages/CreateAudiusCampaignPage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
  frontend/packages/react-app/src/components/templates/CreateAudiusCampaignPageTemaplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/CreateAudiusCampaignPageTemaplate/index.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/hooks/audius/useAudiusLibs.ts
  frontend/packages/react-app/src/hooks/audius/useGetAudiusFollowers.ts
  frontend/packages/react-app/src/hooks/audius/useGetAudiusUser.ts
  frontend/packages/react-app/src/hooks/distributors/cct-wallet/useClaim.ts
  frontend/packages/react-app/src/hooks/distributors/cct-wallet/useFetchIsClaimable.ts
  frontend/packages/react-app/src/hooks/distributors/cct-wallet/useIsClaimable.ts
  frontend/packages/react-app/src/hooks/distributors/cct-wallet/useRequestCheckingIsClaimable.ts
  frontend/packages/react-app/src/hooks/useApproveToken.ts
  frontend/packages/react-app/src/hooks/useGetAllowance.ts
  frontend/packages/react-app/src/hooks/useGetTransferEvents.ts
  frontend/packages/react-app/src/hooks/useGetWalletBalance.ts
  frontend/packages/react-app/src/utils/web3.ts
  frontend/yarn.lock
Labels: frontend

#189 Mouse/homepagepath
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/App.tsx
  frontend/packages/react-app/src/components/atoms/LogoButton/index.tsx
  frontend/packages/react-app/src/components/organisms/DownloadEmailCsvPane/index.tsx
  frontend/packages/react-app/src/components/organisms/UUIDURLList/index.tsx
Labels: frontend

#190 Mouse/fixfailedtests
  frontend/packages/react-app/package.json
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
  frontend/packages/react-app/src/hooks/distributors/useIsClaimable.ts
  frontend/packages/react-app/src/reducers/email.ts
  frontend/yarn.lock
Labels: bug, frontend

#191 Fix list start date
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.tsx
Labels: bug, frontend

#192 Mouse/upperlimit
  frontend/packages/react-app/.env.example
  frontend/packages/react-app/src/components/organisms/UUIDDistributionTargets/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/UUIDDistributionTargets/index.tsx
  frontend/packages/react-app/src/components/organisms/UploadEmailCsvPane/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/UploadEmailCsvPane/index.tsx
  frontend/packages/react-app/src/components/organisms/WalletDistributionTargets/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/WalletDistributionTargets/index.tsx
  frontend/packages/react-app/src/components/pages/CreateUUIDCampaignPage.tsx
  frontend/packages/react-app/src/components/templates/CreateUUIDCampaignPageTemaplate/index.stories.tsx
  frontend/packages/react-app/src/reducers/uuid.ts
  functions/merkle-tree/functions/input-generator/.env.example
  functions/merkle-tree/functions/input-generator/src/app.ts
  functions/merkle-tree/functions/input-generator/tests/unit/test-handler.spec.ts
  functions/merkle-tree/template.yaml
Labels: frontend, functions

#194 Mouse/contractsecurity
  contract/contracts/Donator.sol
  contract/contracts/FanToken.sol
  contract/contracts/Migrations.sol
  contract/contracts/SafeMath32.sol
  contract/contracts/SafeMath64.sol
  contract/contracts/SafeMath8.sol
  contract/contracts/distributors/CCTWallet.sol
  contract/contracts/distributors/UUID.sol
  contract/contracts/distributors/Wallet.sol
  contract/contracts/interfaces/CampaignInterface.sol
  contract/contracts/interfaces/CampaignInterfaceV2.sol
  contract/contracts/interfaces/DistributorInterface.sol
  contract/contracts/interfaces/DistributorInterfaceV2.sol
  contract/contracts/interfaces/DonatorInterface.sol
  contract/contracts/mocks/ERC20Mock.sol
  contract/contracts/tIRO.sol
  frontend/packages/react-app/src/types/factories/CCTWalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/CCTWalletDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ChainlinkClient__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterfaceV2__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Donator__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20__factory.ts
  frontend/packages/react-app/src/types/factories/FanToken__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/TIRO__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/WalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/WalletDistributor__factory.ts
  frontend/packages/react-app/src/types/index.ts
Labels: contract

#197 Update contract addresses
  frontend/packages/contracts/src/addresses.js
  frontend/packages/react-app/src/utils/distributors.ts
  subgraph/subgraph.yaml
Labels: contract, frontend, subgraph

#199 Add contract conveage
  .gitignore
  contract/coverage.js
  contract/package.json
  frontend/packages/react-app/src/types/index.ts
Labels: contract

#200 Add dynamic subgraph yaml generation
  .gitignore
  subgraph/config/kovan.json
  subgraph/config/mainnet.json
  subgraph/config/rinkeby.json
  subgraph/package.json
  subgraph/subgraph.template.yaml
  subgraph/yarn.lock
Labels: subgraph

#201 Fix distributor type is not displayed
  frontend/packages/react-app/src/components/molecules/CampaignListTable/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenCampaignDetail/index.tsx
  frontend/packages/react-app/src/utils/distributors.ts
Labels: bug, frontend

#203 Mouse/cancelbutton
  frontend/packages/react-app/src/components/organisms/CampaignDetail/index.stories.tsx
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/CampaignDetailPageTemplate/index.tsx
  frontend/packages/react-app/src/reducers/campaign.ts
Labels: bug, frontend

#204 Fix calendar date as today and tomorrow
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: bug, frontend

#205 Update uploading button to shown always
  frontend/packages/react-app/src/components/organisms/UploadEmailCsvPane/index.tsx
  frontend/packages/react-app/src/components/organisms/WalletDistributionTargets/index.tsx
Labels: frontend

#206 Fix search filter is case sensitive
  frontend/packages/react-app/src/components/organisms/TokenCampaigns/index.tsx
Labels: bug, frontend

#202 Mouse/fanwalletconnect
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.tsx
Labels: frontend

#208 Add dependencies
  frontend/packages/react-app/src/components/molecules/WalletTokenClaimCard/index.tsx
  frontend/packages/react-app/src/types/CampaignInterface.d.ts
  frontend/packages/react-app/src/types/ChainlinkClient.d.ts
  frontend/packages/react-app/src/types/ChainlinkRequestInterface.d.ts
  frontend/packages/react-app/src/types/DistributorInterface.d.ts
  frontend/packages/react-app/src/types/DonatorInterface.d.ts
  frontend/packages/react-app/src/types/ENSInterface.d.ts
  frontend/packages/react-app/src/types/ENSResolver.d.ts
  frontend/packages/react-app/src/types/FanToken.d.ts
  frontend/packages/react-app/src/types/LinkTokenInterface.d.ts
  frontend/packages/react-app/src/types/PointerInterface.d.ts
  frontend/packages/react-app/src/types/factories/CampaignInterfaceV1__factory.ts
  frontend/packages/react-app/src/types/factories/CampaignInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ChainlinkClient__factory.ts
  frontend/packages/react-app/src/types/factories/ChainlinkRequestInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterfaceV1__factory.ts
  frontend/packages/react-app/src/types/factories/DistributorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/DonatorInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ENSInterface__factory.ts
  frontend/packages/react-app/src/types/factories/ENSResolver__factory.ts
  frontend/packages/react-app/src/types/factories/ERC20Mock__factory.ts
  frontend/packages/react-app/src/types/factories/FanToken__factory.ts
  frontend/packages/react-app/src/types/factories/LinkTokenInterface__factory.ts
  frontend/packages/react-app/src/types/factories/Migrations__factory.ts
  frontend/packages/react-app/src/types/factories/PointerInterface__factory.ts
  frontend/packages/react-app/src/types/factories/TIRO__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/UUIDDistributor__factory.ts
  frontend/packages/react-app/src/types/factories/WalletCampaign__factory.ts
  frontend/packages/react-app/src/types/factories/WalletDistributor__factory.ts
  frontend/packages/react-app/src/utils/web3.ts
  types/web3/CampaignInterface.d.ts
  types/web3/ChainlinkClient.d.ts
  types/web3/ChainlinkRequestInterface.d.ts
  types/web3/DistributorInterface.d.ts
  types/web3/DonatorInterface.d.ts
  types/web3/ENSInterface.d.ts
  types/web3/ENSResolver.d.ts
  types/web3/FanToken.d.ts
  types/web3/LinkTokenInterface.d.ts
  types/web3/PointerInterface.d.ts
Labels: frontend

#210 Fix an error occures on date
  frontend/packages/react-app/src/reducers/distributorForm.ts
  frontend/packages/react-app/src/utils/mockData.ts
Labels: bug, frontend

#207 Mouse/etherscanlink
  frontend/packages/react-app/src/components/atoms/EtherscanLink/index.tsx
  frontend/packages/react-app/src/components/molecules/TokenInfoBar/index.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationBar/index.stories.tsx
  frontend/packages/react-app/src/components/organisms/TokenInformationBar/index.tsx
Labels: bug, frontend

#213 Update readme
  README.md
Labels: frontend

#218 Remove noneed variables
  frontend/packages/react-app/src/components/organisms/WalletCampaignDetailPanel/index.stories.tsx
  frontend/packages/react-app/src/components/templates/TokenCampaignsDetailPageTemplate/index.stories.tsx
  frontend/packages/react-app/src/reducers/campaignDetail.ts
  frontend/packages/react-app/src/reducers/tokenInformation.ts
  frontend/packages/react-app/src/utils/const.ts
Labels: frontend

#217 Fix invalid date
  frontend/packages/react-app/src/components/organisms/CampaignDetail/index.tsx
  frontend/packages/react-app/src/components/pages/CampaignDetailPage.tsx
  frontend/packages/react-app/src/components/pages/TokenCampaignDetailPage.tsx
Labels: bug, frontend

#215 Mouse/readmen
  README.md
  contract/README.md
  docs/contracts.puml
  frontend/packages/react-app/.env.example
Labels: documentation
